[Unit]
Description=Service for soundfix program runtime
[Service]
Type=simple
ExecStart=mbsoundfix
WorkingDirectory=/
[Install]
WantedBy=multi-user.target
